canvas {
        border: 1px solid black;
        image-rendering: pixelated;
      }
      
      .color {
        cursor: pointer;
        width: 20px;
        height: 20px;
        display: inline-block;
      }
      
.color-box {
  height: 20px;
  width: 20px;
}

.messagePopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  width: 264px;
  background: white;
  padding: 20px;
  border-radius: 20px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: orange;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease-in-out;
  -webkit-transform-origin: 0 100%;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  /* Other styles for the footer */
}
