<div #viewport style="background-image: url('../../assets/images/musician pixel art background 1928x1072.png');
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 1200px;
    ">

<div class="heading">Roskilde Pixel Art</div>

<!-- rect: {{rectCoordinates}}<br>
unscaledCoordinates: {{unscaledCoordinates}}<br>
drawableCoordinates: {{drawableCoordinates}}<br>
finalCoordinates: {{finalCoordinates}}<br>
pixelID: {{pixelID}}<br>
this.isFirstTimeUser: {{this.isFirstTimeUser}}<br> -->
<div *ngIf="isAdmin"> 
    <button (click)="selectPixelsForDeletion()" *ngIf="isAdmin && !deleteMode">Remove Draw Mode; Put Delete Mode</button>
    <button (click)="setDrawMode()" *ngIf="isAdmin && deleteMode">Remove Delete Mode; Put Draw Mode</button>    
    <label for="password">Password:</label>
    <input type="text" id="password" name="password" [(ngModel)]="password"><br><br>
</div>


<div style="display: flex;top: 15%;position: relative;" *ngIf="!isTvView">
  <div class="color-box" style="background-color: #FF0018;" (click)="setColor('#FF0018')"></div> <!-- Red for the LGBT flag -->
  <div class="color-box" style="background-color: #FFA52C;" (click)="setColor('#FFA52C')"></div> <!-- Orange for the LGBT flag -->
  <div class="color-box" style="background-color: #FFFF41;" (click)="setColor('#FFFF41')"></div> <!-- Yellow for the LGBT flag -->
  <div class="color-box" style="background-color: #008018;" (click)="setColor('#008018')"></div> <!-- Green for the LGBT flag -->
  <div class="color-box" style="background-color: #0000F9;" (click)="setColor('#0000F9')"></div> <!-- Blue for the LGBT flag -->
  <div class="color-box" style="background-color: #86007D;" (click)="setColor('#86007D')"></div> <!-- Purple for the LGBT flag -->
  <div class="color-box" style="background-color: #FFFFFF;" (click)="setColor('#FFFFFF')"></div> <!-- White for several flags -->
  <div class="color-box" style="background-color: #000000;" (click)="setColor('#000000')"></div> <!-- Black for several flags -->
  <div class="color-box" style="background-color: #FF0000;" (click)="setColor('#FF0000')"></div> <!-- Bright Red for several flags -->
  <div class="color-box" style="background-color: #0000FF;" (click)="setColor('#0000FF')"></div> <!-- Bright Blue for several flags -->
  <div class="color-box" style="background-color: #FFFF00;" (click)="setColor('#FFFF00')"></div> <!-- Bright Yellow for several flags -->
  <div class="color-box" style="background-color: #009246;" (click)="setColor('#009246')"></div> <!-- A specific shade of Green commonly used in flags -->
  <div class="color-box" style="background-color: #CE1126;" (click)="setColor('#CE1126')"></div> <!-- A specific shade of Red commonly used in flags -->
  <div class="color-box" style="background-color: #0033A0;" (click)="setColor('#0033A0')"></div> <!-- A specific shade of Blue commonly used in flags -->
  <div class="color-box" style="background-color: #FCD116;" (click)="setColor('#FCD116')"></div> <!-- A specific shade of Yellow commonly used in flags -->
  <div class="color-box" style="background-color: #A7A9AC;" (click)="setColor('#A7A9AC')"></div> <!-- A specific shade of Gray commonly used in flags -->
  
</div>
<div id="container" class="canvasContainer">
<canvas #canvas id="canvas" [width]="canvasWidth" [height]="canvasHeight" ></canvas>
</div>
<div style="height:500px"></div>
</div>

<div class="messagePopup"  *ngIf="isFirstTimeUser  && !isTvView">
<div style="font-size: 23px;">Welcome!</div>
&#10145;Tap on the canvas to place your pixel!<br>
&#10145;Use two fingers to zoom or move around<br>  
&#10145;You can place 70 pixels in 3 minutes<br>
<!-- <div>Have fun!</div> -->
<div class="pixel" (click)="closeWelcomeMessage()"><p>Okay!</p></div>
  


</div>

<div class="footer" id="footer" #footer>
  <div>  
  <div style="    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
">
<div>{{ displayTime }}</div>
    <div style="font-size: 12px;">to get more </div>
    <div style="font-size: 12px;">pixels!</div>
  </div>
</div>
  <div>
    <div style="display: flex;">
      <div class="color-box" style="background-color: #FF0018;" (click)="setColor('#FF0018')"></div> <!-- Red for the LGBT flag -->
      <div class="color-box" style="background-color: #FFA52C;" (click)="setColor('#FFA52C')"></div> <!-- Orange for the LGBT flag -->
      <div class="color-box" style="background-color: #FFFF41;" (click)="setColor('#FFFF41')"></div> <!-- Yellow for the LGBT flag -->
      <div class="color-box" style="background-color: #008018;" (click)="setColor('#008018')"></div> <!-- Green for the LGBT flag -->
      <div class="color-box" style="background-color: #0000F9;" (click)="setColor('#0000F9')"></div> <!-- Blue for the LGBT flag -->
      <div class="color-box" style="background-color: #86007D;" (click)="setColor('#86007D')"></div> <!-- Purple for the LGBT flag -->
      <div class="color-box" style="background-color: #FFFFFF;" (click)="setColor('#FFFFFF')"></div> <!-- White for several flags -->
      <div class="color-box" style="background-color: #000000;" (click)="setColor('#000000')"></div> <!-- Black for several flags -->
    </div>
    <div style="display: flex;">
      <div class="color-box" style="background-color: #FF0000;" (click)="setColor('#FF0000')"></div> <!-- Bright Red for several flags -->
      <div class="color-box" style="background-color: #0000FF;" (click)="setColor('#0000FF')"></div> <!-- Bright Blue for several flags -->
      <div class="color-box" style="background-color: #FFFF00;" (click)="setColor('#FFFF00')"></div> <!-- Bright Yellow for several flags -->
      <div class="color-box" style="background-color: #009246;" (click)="setColor('#009246')"></div> <!-- A specific shade of Green commonly used in flags -->
      <div class="color-box" style="background-color: #CE1126;" (click)="setColor('#CE1126')"></div> <!-- A specific shade of Red commonly used in flags -->
      <div class="color-box" style="background-color: #0033A0;" (click)="setColor('#0033A0')"></div> <!-- A specific shade of Blue commonly used in flags -->
      <div class="color-box" style="background-color: #FCD116;" (click)="setColor('#FCD116')"></div> <!-- A specific shade of Yellow commonly used in flags -->
      <div class="color-box" style="background-color: #A7A9AC;" (click)="setColor('#A7A9AC')"></div> <!-- A specific shade of Gray commonly used in flags -->
    </div>
    
    </div>
    <div>
      <div>{{pixelsLeft}} / {{totalAllowedPixels}}</div>
      <div>pixels</div>
    </div>
</div>
