canvas {
        border: 1px solid black;
        image-rendering: pixelated;
      }
      
      .color {
        cursor: pointer;
        width: 20px;
        height: 20px;
        display: inline-block;
      }
      
.color-box {
  height: 20px;
  width: 20px;
}

.messagePopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  width: 264px;
  background: white;
  padding: 20px;
  border-radius: 20px;
}


.footer {
  text-align: center;
  /* Sticky footer styles */
  position: sticky;
  bottom: 0;
  width: 100%;
  background: white;
}

