<!DOCTYPE html>
<html>
<head>
    <title>ROSKILDE PIXELS</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
</head>
<body>
    <h1>ITS WORKING BITCHES SUIUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUU</h1>

    <script type="text/javascript">
        var socket = io();

        socket.on('connect', function() {
            console.log('Connected to WebSocket');
        });

        socket.on('response', function(data) {
            console.log('Response received:', data);
        });

        function sendMessage() {
            var message = document.getElementById('message').value;
            socket.emit('message', message);
        }
    </script>

    <input type="text" id="message" placeholder="Enter a message">
    <button onclick="sendMessage()">Send</button>
</body>
</html>
